#_progress {
  --scroll: 0%;
  background: linear-gradient(to right,rgb(12 184 182) var(--scroll), transparent 0);
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top:0;
}

.goal-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  height: 150px;
}
.goal-table .goal {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}

.goal-table .goal i {
  color: #18a79d;
  font-size: 1.5rem;
  margin-right: 10px;
  vertical-align: top;
}

.fixed-footer {
  display: none;
}

@media screen and (max-width: 991px) {

  body {
    margin-bottom: 72px;
  }

  .goal-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 150px;
  }

  .fixed-footer {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #18a79d;
    height: fit-content;
    width: 100%;
    bottom: 0;
    z-index: 10;
    font-size: 15px;
  }

  .fixed-footer .link{
    display: block;
    color: #ffff;
    font-size: 20px;
    padding: 25px;
    font-weight: 600;
    text-align: center;
  }

  .fixed-footer .link:hover {
    font-size: 18px;
    transition: all 0.3s ease-out;
  }

}

.cd-words-wrapper {
  width: 100% !important;
}

#contact-form {
  flex-direction: column;
}

#contact-form .form-item {
  margin: auto;
}

.st-project-img {
  text-align: center;
}

.st-project-img img {
  border-radius: 1em;
}

#contact::before {
  content: '';
  display: block;
  height:      80px;
  margin-top: -80px;
  visibility: hidden;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #18A79D;
}

.st-hero-shape img {
  object-fit: cover;
}

.st-hero.st-style1 .st-hero-social-group {
  bottom: 30px;
}

.st-site-branding img {
    max-width: 60%;
}