#_progress {
  --scroll: 0%;
  background: linear-gradient(
    to right,
    rgb(12 184 182) var(--scroll),
    transparent 0
  );
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 0;
}

.goal-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  height: 150px;
}
.goal-table .goal {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}

.goal-table .goal i {
  color: #18a79d;
  font-size: 1.5rem;
  margin-right: 10px;
  vertical-align: top;
}

.fixed-footer {
  display: none;
}

.dark-section {
  background-color: #35393a;
}

.dark-section * {
  color: #ffff;
}

.st-hero-img img {
  width: auto;
}

@media screen and (max-width: 991px) {
  body {
    margin-bottom: 72px;
  }

  .goal-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 150px;
  }

  .fixed-footer {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #18a79d;
    height: fit-content;
    width: 100%;
    bottom: 0;
    z-index: 10;
    font-size: 15px;
  }

  .fixed-footer .link {
    display: block;
    color: #ffff;
    font-size: 20px;
    padding: 25px;
    font-weight: 600;
    text-align: center;
  }

  .fixed-footer .link:hover {
    font-size: 18px;
    transition: all 0.3s ease-out;
  }
}

.cd-words-wrapper {
  width: 100% !important;
}

#contact-form {
  flex-direction: column;
}

#contact-form .form-item {
  margin: auto;
}

.st-project-img,
.centered-text {
  text-align: center;
}

.round-border {
  border-radius: 1em !important;
}

#contact::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18a79d;
}

.st-hero-shape img {
  object-fit: fill;
}

@media screen and (max-width: 991px) {
  .st-hero-shape img {
    object-fit: cover;
  }
}

.st-hero.st-style1 .st-hero-social-group {
  bottom: 30px;
}

.st-site-branding img {
  max-width: 60%;
}

.st-section-heading-title{
  font-weight: bold;
}

.card-title-medium {
  font-weight: 700;
  font-size: 34px;
}

.card-title-huge {
  font-weight: 900;
  font-size: 78px;
}

.card-title-medium .num {
  font-size: 29px;
}

.card-text {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 28px 0;
  padding: 0 20px;
}

.menu {
  margin: 28px 0;
  padding: 0 20px;
}

.menu .menu-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu .menu-items.centered {
  width: fit-content;
  margin: auto;
}

.menu .menu-items .menu-item {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.menu .menu-items .menu-item .menu-item-icon {
  color: #18a79d;
}

.menu .menu-items .menu-item .menu-item-icon-error {
  color: red;
}

.menu .menu-items .menu-item .menu-item-text {
  padding-left: 20px;
  text-align: start;
}

.card-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-shape img {
  width: 100%;
  transform: rotate(180deg);
  opacity: 0.2;
}

.card-transparent {
  background-color: transparent !important;
  border: 0 !important;
}

@media screen and (max-width: 1200px) {
  .card-title-medium {
    font-size: 27px;
  }

  .card-title-medium .num {
    font-size: 24px;
  }

  .st-slider.st-style1.st-hero-slider1 {
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    right: 0;
  }

  .st-hero-img img {
    margin: auto;
    width: 90%;
  }

  .st-hero.st-style1 {
    margin-bottom: -150px;
  }

  .st-hero.st-style1 {
    margin-bottom: -120px;
  }
}

@media (min-width: 1200px) {
  .card-container {
    max-width: 1200px;
  }

  .card-container .card {
    height: 656px;
  }
}

.highlight-dot,
.highlight-text {
  color: #18a79d;
}

.highlight-line {
  width: 80%;
  max-width: 250px;
  height: 4px;
  background-color: #18a79d;
  margin: 7px auto;
}

.arrows-separator {
  width: 100%;
  margin: 20px 0;
}

.arrows-separator .icon {
  color: #d9e0e5;
}

.arrow-vector {
  width: 100%;
  height: 6.3vw;
}

.arrow-vector svg {
  width: 100%;
  height: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.scrollBox {
  display: flex;
  margin: 7% 0px;
}

@media screen and (max-width: 1200px) {
  .scrollBox {
    flex-direction: column;
    align-items: center;
  }

  .scrollBox .box {
    width: 60%;
    margin: 10px 0;
  }
}

.video-container #video {
  width: 80%;
  margin: auto;
  outline: none;
}

.box {
  overflow: hidden;
  max-width: 400px;
  margin: 10px 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0px 5px 30px 0px #121212;
}

.box img {
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #18a79d;
  color: #fff;
  padding: 0.5em 1.2em;
  position: relative;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  color: #38525a;
  box-shadow: 10px 15px 20px 0px #000000;
  transform: scale(1.3);
}

.box .box-content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box .box-content-title {
  color: #ffff;
}

.box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  background: rgba(0, 0, 0, 0.73);
  transition: all 0.3s ease-in-out;
}

.box:hover .box-content {
  opacity: 1;
  top: 0;
}

.box:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.scrollTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}

.st-seperator {
  width: 150px;
}

.highlight-text-red{
  color: red;
}

.highlight-text-orange{
  color: #f68712;
}

.st-height-b40 {
  height: 40px;
}


.st-green-box {
  color: #39b366;
  fill: #39b366;
}

.st-imagebox-btn {
  text-align: center;
}

.st-hero-wrap {
  background-repeat: no-repeat;
  background-size: cover;
}

.st-imagebox-subtitle {
  text-align: center;
}

@media screen and (min-width: 991px) { 
  #st-backtotop {
    opacity: 0;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: -50px;
    right: 50px;
    transition: .5s all ease-in;
    z-index: 1;
  }

  #st-backtotop.showBtn {
    opacity: 1;
    bottom: 50px;
    transition: .5s all ease-out;
  }
}